// Navigation bar

nav {
  float: right;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

/*
nav ul, footer ul {
  font-size: 1em;
  font-family: 'Inter UI', sans-serif;
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav > ul > li > a {
  color: #aaa;
  display: block;
  line-height: 2em;
  padding: 0.5em 1em;
  text-decoration: none;
}

.navhome {
  float: left;
  //position: relative;
  margin: 0;
}
*/
