// Typography and fonts

// Import some fonts
@import url('https://fonts.googleapis.com/css?family=Spectral:700');
@import url('https://rsms.me/inter/inter-ui.css');

// Headers
h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', 'Georgia', serif;
  text-rendering: geometricPrecision; // or optimizeLegibility
  color: #2a3a4b;
}

// Paragraph
p { font-family: 'Inter UI', sans-serif; }

// Links
a {
  color: red;
  text-decoration: none;
  // `:focus` is linked to `:hover` for basic accessibility
  &:hover, &:focus {
    text-decoration: underline;
  }
  strong {
    color: inherit;
  }
}
